<div ng-controller="AccidentsCtrl">  
  <h1>New Jersey Automobile Crash Data (2001 - 2013) </h1>
  </br>
  </br>
  </br>
  <h2>The Data!</h2>
  <p><strong>Page:</strong> {{tableParams.page()}} of 198,127 (3,962,536 records)
  <table ng-table="tableParams" template-pagination="custom/pager" class="table">
        <tr ng-repeat="accident in $data">
            <td data-title="'Case Number'">
                <a ng-href="/#/{{accident.CaseNumber}}">{{accident.CaseNumber}}</a>
            </td>
            <td data-title="'Date'">
                {{accident.CrashDate}} | {{accident.CrashTime}}
            </td>
            <td data-title="'Address'">
                {{accident.MunicipalityName}}
                {{accident.CountyName}}
            </td>
        </tr> 
  </table>

  <script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
          <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
          </li>

        </ul>
    </script>
</br>
</br>
<h2>Data Visualizations!</h2>
<iframe src="http://130.68.167.130:5601/#/dashboard/dash?embed&_g=()&_a=(filters:!(),panels:!((col:1,id:bycounty,row:1,size_x:8,size_y:4,type:visualization),(col:1,id:dayoftheweek,row:5,size_x:7,size_y:4,type:visualization),(col:8,id:daysoftheweekalcohol,row:5,size_x:5,size_y:4,type:visualization),(col:9,id:total-killed,row:1,size_x:4,size_y:4,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:dash)" height="600" width="1140"></iframe>
</br>
</br>
<h2>Statisitics and Interesting Findings!</h2>
  <ul>
    <li>Total of 3,962,536 crash records</li>
    <li>12 years worth of data (2001 - 2013)</li>
    <li>Top crash location is Route 22 (9.3%)</li>
    <li>Most crashes were in 25mph speed zones (29.4%)</li>
    <li>Top responding police department is Somerville (18.4%)</li>
    <li>74.9% of crashes involved two vehicles</li>
    <li>Mile marker 71.3 on the NJ Turnpike was the most dangerous mile marker, possibly due to a 40 car pile up on February 10, 2015.</li>
  </ul>
</div>



